<div class="row mt-5 mb-4 footer">
    <div class="col-sm-8">
        <span>&copy; Todos os direitos reservados 2022 <a class="text-theme" href="#">LeonTek</a></span>
    </div>
    <div class="col-sm-4 text-right">
        <a href="#" class="ml-2">Contact Us</a>
        <a href="#" class="ml-2">Support</a>
    </div>
</div>
